body {
       padding: 100px 30px 100px 30px;
       background-color: #E0E5EB;
}

header {
       
       .hero_section {
              display: flex;
              flex-direction: row;
              justify-content: center;
              margin: 0 auto 50px auto;
       }

       .header_img{
              width: 400px;
       }


}



main {
       .features_section {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              text-align: center;
              margin-top: 50px;
       }

}